# External dependency repos (cloned separately, not tracked)
DDMarlinPandora/
LCContent/
PandoraSDK/
k4RecCalorimeter/
k4RecTracker/
k4geo/
ALLEGRO_PandoraPFA/

# Simulation and reconstruction output
runs/

# ROOT files
*.root
*ravinab.cc # ROOT ACLiC?

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Build artifacts
build/
install/

# Editor
.vscode/
*.swp
*~

# Binaries
Pythia8/bin/*

# HTCondor logs
batch/jobs